{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 3,
  "links": [],
  "panels": [
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "cellOptions": {
              "type": "auto"
            },
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 0
      },
      "id": 3,
      "options": {
        "cellHeight": "sm",
        "footer": {
          "countRows": false,
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": true
      },
      "pluginVersion": "10.4.1",
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {},
          "expression": "fields @timestamp, eventSource, eventName, awsRegion, userAgent, userIdentity.principalId, errorCode, errorMessage | filter eventSource = 'iam.amazonaws.com' | filter eventName like /(Create|Put|Delete|Attach|Detach)(Group|Role|User)?(Policy)(Version)?/ | filter userAgent not like /Terraform/ | sort @timestamp desc | limit 200",
          "id": "",
          "label": "",
          "logGroups": [
            {
              "accountId": "${account_id}",
              "arn": "arn:aws:logs:eu-west-2:${account_id}:log-group:NHSDAudit_trail_log_group:*",
              "name": "NHSDAudit_trail_log_group"
            }
          ],
          "matchExact": true,
          "metricEditorMode": 0,
          "metricName": "",
          "metricQueryType": 0,
          "namespace": "",
          "period": "",
          "queryMode": "Logs",
          "refId": "A",
          "region": "default",
          "sqlExpression": "",
          "statistic": "Average",
          "statsGroups": []
        }
      ],
      "title": "IAMPolicyChanges",
      "type": "table"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "fillOpacity": 80,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineWidth": 1,
            "scaleDistribution": {
              "type": "linear"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 8
      },
      "id": 2,
      "options": {
        "barRadius": 0,
        "barWidth": 0.97,
        "fullHighlight": false,
        "groupWidth": 0.7,
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "orientation": "auto",
        "showValue": "auto",
        "stacking": "none",
        "tooltip": {
          "mode": "single",
          "sort": "none"
        },
        "xTickLabelRotation": 0,
        "xTickLabelSpacing": 0
      },
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {},
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": true,
          "metricEditorMode": 0,
          "metricName": "4xxErrorRate",
          "metricQueryType": 1,
          "namespace": "AWS/CloudFront",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "AVG",
              "parameters": [
                {
                  "name": "4xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT AVG(\"4xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Average"
        }
      ],
      "title": "Cloudfront4XXErrors",
      "type": "barchart"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 16
      },
      "id": 1,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {},
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": true,
          "metricEditorMode": 0,
          "metricName": "5xxErrorRate",
          "metricQueryType": 1,
          "namespace": "AWS/CloudFront",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "AVG",
              "parameters": [
                {
                  "name": "5xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT AVG(\"5xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Average"
        }
      ],
      "title": "Cloudfront5XXErrors",
      "type": "timeseries"
    }
  ],
  "schemaVersion": 39,
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "browser",
  "title": "WebGwDashboard",
  "version": 6,
  "weekStart": ""
}