{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 6,
  "links": [],
  "panels": [
    {
      "description": "",
      "gridPos": {
        "h": 2,
        "w": 15,
        "x": 0,
        "y": 0
      },
      "id": 6,
      "options": {
        "code": {
          "language": "plaintext",
          "showLineNumbers": false,
          "showMiniMap": false
        },
        "content": "# Web Gateway Service Levels",
        "mode": "markdown"
      },
      "pluginVersion": "10.4.1",
      "transparent": true,
      "type": "text"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 10
              },
              {
                "color": "green",
                "value": 11
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 20,
        "x": 0,
        "y": 2
      },
      "id": 19,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "auto",
        "wideLayout": true
      },
      "pluginVersion": "10.4.1",
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {},
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": false,
          "metricEditorMode": 0,
          "metricName": "DaysToExpiry",
          "metricQueryType": 0,
          "namespace": "AWS/CertificateManager",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "4xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT SUM(\"4xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Maximum"
        }
      ],
      "title": "Certficate Expiry",
      "transformations": [
        {
          "id": "renameByRegex",
          "options": {
            "regex": "^[^/]+/([^/]+)",
            "renamePattern": "$1"
          }
        }
      ],
      "type": "stat"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 6
      },
      "id": 14,
      "panels": [],
      "type": "row"
    },
    {
      "gridPos": {
        "h": 2,
        "w": 6,
        "x": 0,
        "y": 7
      },
      "id": 10,
      "options": {
        "code": {
          "language": "plaintext",
          "showLineNumbers": false,
          "showMiniMap": false
        },
        "content": "## Latency",
        "mode": "markdown"
      },
      "pluginVersion": "10.4.1",
      "transparent": true,
      "type": "text"
    },
    {
      "gridPos": {
        "h": 2,
        "w": 6,
        "x": 10,
        "y": 7
      },
      "id": 9,
      "options": {
        "code": {
          "language": "plaintext",
          "showLineNumbers": false,
          "showMiniMap": false
        },
        "content": "## Traffic",
        "mode": "markdown"
      },
      "pluginVersion": "10.4.1",
      "transparent": true,
      "type": "text"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "#EAB839",
                "value": 251
              },
              {
                "color": "red",
                "value": 501
              },
              {
                "color": "dark-red",
                "value": 1001
              }
            ]
          },
          "unit": "ms"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 3,
        "w": 6,
        "x": 2,
        "y": 9
      },
      "id": 20,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "mean"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "auto",
        "wideLayout": true
      },
      "pluginVersion": "10.4.1",
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {
            "DistributionId": "$CF_DIST_ID"
          },
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": false,
          "metricEditorMode": 0,
          "metricName": "OriginLatency",
          "metricQueryType": 0,
          "namespace": "AWS/CloudFront",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "4xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT SUM(\"4xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Average"
        }
      ],
      "title": "Cloudfront Origin Latency",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "dark-red",
                "value": null
              },
              {
                "color": "#EAB839",
                "value": 50
              },
              {
                "color": "green",
                "value": 90
              }
            ]
          },
          "unit": "percent"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 3,
        "w": 10,
        "x": 10,
        "y": 9
      },
      "id": 15,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "auto",
        "wideLayout": true
      },
      "pluginVersion": "10.4.1",
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {
            "DistributionId": "$CF_DIST_ID"
          },
          "expression": "",
          "hide": true,
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": false,
          "metricEditorMode": 0,
          "metricName": "TotalErrorRate",
          "metricQueryType": 0,
          "namespace": "AWS/CloudFront",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "5xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT SUM(\"5xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Average"
        },
        {
          "datasource": {
            "name": "Expression",
            "type": "__expr__",
            "uid": "__expr__"
          },
          "expression": "100 - $A",
          "hide": false,
          "refId": "B",
          "type": "math"
        }
      ],
      "title": "Cloudfront Success Rate",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "custom": {
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "scaleDistribution": {
              "type": "linear"
            }
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 10,
        "x": 0,
        "y": 12
      },
      "id": 17,
      "options": {
        "calculate": false,
        "cellGap": 1,
        "color": {
          "exponent": 0.5,
          "fill": "dark-orange",
          "mode": "scheme",
          "reverse": false,
          "scale": "exponential",
          "scheme": "Spectral",
          "steps": 64
        },
        "exemplars": {
          "color": "rgba(255,0,255,0.7)"
        },
        "filterValues": {
          "le": 1e-9
        },
        "legend": {
          "show": true
        },
        "rowsFrame": {
          "layout": "auto"
        },
        "tooltip": {
          "mode": "single",
          "showColorScale": false,
          "yHistogram": false
        },
        "yAxis": {
          "axisPlacement": "left",
          "reverse": false,
          "unit": "none"
        }
      },
      "pluginVersion": "10.4.1",
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {
            "DistributionId": "$CF_DIST_ID"
          },
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": false,
          "metricEditorMode": 0,
          "metricName": "OriginLatency",
          "metricQueryType": 0,
          "namespace": "AWS/CloudFront",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "4xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT SUM(\"4xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Average"
        }
      ],
      "title": "Cloudfront Origin Latency",
      "transformations": [
        {
          "id": "heatmap",
          "options": {
            "xBuckets": {
              "mode": "size"
            },
            "yBuckets": {
              "mode": "size",
              "scale": {
                "type": "linear"
              }
            }
          }
        }
      ],
      "type": "heatmap"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 20,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "smooth",
            "lineStyle": {
              "fill": "solid"
            },
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "normal"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 10,
        "x": 10,
        "y": 12
      },
      "id": 12,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "10.4.1",
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {
            "WebACL": "$WAF_WEBACL_NAME"
          },
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": false,
          "metricEditorMode": 0,
          "metricName": "AllowedRequests",
          "metricQueryType": 0,
          "namespace": "AWS/WAFV2",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "4xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT SUM(\"4xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Sum"
        }
      ],
      "title": "WAF Allowed Requests",
      "type": "timeseries"
    },
    {
      "gridPos": {
        "h": 2,
        "w": 6,
        "x": 0,
        "y": 20
      },
      "id": 7,
      "options": {
        "code": {
          "language": "plaintext",
          "showLineNumbers": false,
          "showMiniMap": false
        },
        "content": "## Errors",
        "mode": "markdown"
      },
      "pluginVersion": "10.4.1",
      "transparent": true,
      "type": "text"
    },
    {
      "gridPos": {
        "h": 2,
        "w": 6,
        "x": 10,
        "y": 20
      },
      "id": 8,
      "options": {
        "code": {
          "language": "plaintext",
          "showLineNumbers": false,
          "showMiniMap": false
        },
        "content": "## Saturation",
        "mode": "markdown"
      },
      "pluginVersion": "10.4.1",
      "transparent": true,
      "type": "text"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 20,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "smooth",
            "lineStyle": {
              "fill": "solid"
            },
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "normal"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 10,
        "x": 0,
        "y": 22
      },
      "id": 11,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {
            "WebACL": "$WAF_WEBACL_NAME"
          },
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": false,
          "metricEditorMode": 0,
          "metricName": "BlockedRequests",
          "metricQueryType": 0,
          "namespace": "AWS/WAFV2",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "4xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT SUM(\"4xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Sum"
        }
      ],
      "title": "WAF Blocked Requests",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 3,
        "w": 4,
        "x": 10,
        "y": 22
      },
      "id": 16,
      "options": {
        "minVizHeight": 75,
        "minVizWidth": 75,
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "sizing": "auto"
      },
      "pluginVersion": "10.4.1",
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {
            "DistributionId": "$CF_DIST_ID"
          },
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": false,
          "metricEditorMode": 0,
          "metricName": "CacheHitRate",
          "metricQueryType": 0,
          "namespace": "AWS/CloudFront",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "4xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT SUM(\"4xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Sum"
        }
      ],
      "title": "Cloudfront Cache Hit Ratio",
      "type": "gauge"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "fillOpacity": 80,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineWidth": 1
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 10,
        "x": 10,
        "y": 25
      },
      "id": 1,
      "options": {
        "combine": false,
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        }
      },
      "pluginVersion": "10.4.1",
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {},
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": true,
          "metricEditorMode": 0,
          "metricName": "5xxErrorRate",
          "metricQueryType": 1,
          "namespace": "AWS/CloudFront",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "groupBy": {
              "expressions": [
                {
                  "property": {
                    "name": "DistributionId",
                    "type": "string"
                  },
                  "type": "groupBy"
                }
              ],
              "type": "and"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "Requests",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            },
            "where": {
              "expressions": [
                {
                  "operator": {
                    "name": "=",
                    "value": "$CF_DIST_ID"
                  },
                  "property": {
                    "name": "DistributionId",
                    "type": "string"
                  },
                  "type": "operator"
                }
              ],
              "type": "and"
            }
          },
          "sqlExpression": "SELECT SUM(Requests) FROM \"AWS/CloudFront\" WHERE DistributionId = '$CF_DIST_ID' GROUP BY DistributionId",
          "statistic": "Average"
        }
      ],
      "title": "CloudfrontRequests",
      "type": "histogram"
    },
    {
      "datasource": {
        "type": "cloudwatch",
        "uid": "${cloudwatch_data_source_uid}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 20,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "smooth",
            "lineStyle": {
              "fill": "solid"
            },
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "normal"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 20,
        "x": 0,
        "y": 30
      },
      "id": 2,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "targets": [
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {
            "DistributionId": "$CF_DIST_ID"
          },
          "expression": "",
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": false,
          "metricEditorMode": 0,
          "metricName": "4xxErrorRate",
          "metricQueryType": 0,
          "namespace": "AWS/CloudFront",
          "period": "",
          "queryMode": "Metrics",
          "refId": "A",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "4xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT SUM(\"4xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Sum"
        },
        {
          "datasource": {
            "type": "cloudwatch",
            "uid": "${cloudwatch_data_source_uid}"
          },
          "dimensions": {
            "DistributionId": "$CF_DIST_ID"
          },
          "expression": "",
          "hide": true,
          "id": "",
          "label": "",
          "logGroups": [],
          "matchExact": false,
          "metricEditorMode": 0,
          "metricName": "5xxErrorRate",
          "metricQueryType": 0,
          "namespace": "AWS/CloudFront",
          "period": "",
          "queryMode": "Metrics",
          "refId": "B",
          "region": "us-east-1",
          "sql": {
            "from": {
              "property": {
                "name": "AWS/CloudFront",
                "type": "string"
              },
              "type": "property"
            },
            "select": {
              "name": "SUM",
              "parameters": [
                {
                  "name": "5xxErrorRate",
                  "type": "functionParameter"
                }
              ],
              "type": "function"
            }
          },
          "sqlExpression": "SELECT SUM(\"5xxErrorRate\") FROM \"AWS/CloudFront\"",
          "statistic": "Sum"
        }
      ],
      "title": "CloudfrontResponseCodes",
      "type": "timeseries"
    }
  ],
  "schemaVersion": 39,
  "tags": [],
  "templating": {
    "list": [
      {
        "current": {
          "selected": false,
          "text": "*",
          "value": "*"
        },
        "hide": 0,
        "label": "Cloudfront Distribution ID",
        "name": "CF_DIST_ID",
        "options": [
          {
            "selected": false,
            "text": "*",
            "value": "*"
          }
        ],
        "query": "*",
        "skipUrlSync": false,
        "type": "textbox"
      },
      {
        "current": {
          "selected": true,
          "text": "nhs-notify-main-cdn",
          "value": "nhs-notify-main-cdn"
        },
        "description": "nhs-notify-main-cdn",
        "hide": 0,
        "label": "Environment CSI Prefix",
        "name": "WAF_WEBACL_NAME",
        "options": [
          {
            "selected": true,
            "text": "nhs-notify-main-cdn",
            "value": "nhs-notify-main-cdn"
          }
        ],
        "query": "nhs-notify-main-cdn",
        "skipUrlSync": false,
        "type": "textbox"
      }
    ]
  },
  "time": {
    "from": "now-12h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "browser",
  "title": "web-gateway-${environment}",
  "uid": "",
  "version": 11,
  "weekStart": ""
}
